#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("ISSUES_HEADING_ALL")</h1>
    <div>
        <a href="http://localhost:8080/issues/create/">Create new issue</a>
    </div>
    <div>
        #foreach($issue in $issues)
            <div>
                <a href="http://localhost:8080/task/$issue.getIssueId()/"><li>$issue.getName()</a>  $issue.getAuthor() $issue.getStatus()
                <form id="my-form" onsubmit="processForm(); return false;">
                    <button type="submit">Delete</button>
                </form>
            </div>
        #end
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function processForm() {
            $.ajax({
                url: '/issues/delete/'+ $('#issueId').val() +'/',
                type: 'delete',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({isssueId : $('#issueId').val()}),
                success: function(data, textStatus, jQxhr) {
                    alert(data);
                },
                error: function(jqXhr, textStatus, errorThrown) {
                    alert("error");
                }
            });
        }
    </script>
#end