#parse("/resources/velocity/layout.vm")
#@mainLayout()
    <h1> ALL ISSUES </h1>
    <div>
        #foreach($issue in $issues)
        <li>$issue.getName() $issue.getAuthor $issue.getStatus</li>
        #end
    </div>
#end