#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$issueById.getName()</h1>
    <div>
        <div>Status $issueById.getStatus()</div>
        <div>Author $issueById.getAuthor()</div>
        <div>Description $issueById.getDescription()</div>
    </div>
    <form id="my-form" onsubmit="processForm(); return false;">
        <h2>Edit</h2>
        <input type="text" value="$issueById.getIssueId()" id="issueId" hidden/>
        <input type="text" value="$issueById.getAuthor()" id="author" placeholder="Author" />
        <input type="text" value="$issueById.getStatus()" id="status" placeholder="Status" />

        <button type="submit">Submit</button>
    </form>

    <form id="comment-form" onsubmit="processComment(); return false;">
        <h2>Comments</h2>
        <input type="text" value="" id="authorComment" placeholder="Author" />
        <input type="text" value="" id="statusComment" placeholder="Status" />
        <input type="text" value="" id="textComment" placeholder="Comment" />
        <button type="submit">Submit</button>
    </form>
    <div>
        #foreach($comment in $comments)
                $comment.getStatus() $comment.getAuthor() $comment.getText()
            #end
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function processComment() {
            $.ajax({
                url: '/issue/' + $('#issueId').val() + '/comments/',
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({author : $('#authorComment').val(), status : $('#statusComment').val(), text : $('#textComment')}),
                success: function(data, textStatus, jQxhr) {
                    alert(data);
                },
                error: function(jqXhr, textStatus, errorThrown) {
                    alert("error");
                }
            });
        }
    </script>

    <script>
        function processForm() {
            $.ajax({
                url: '/issue/'+ $('#issueId').val() +'/',
                type: 'put',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({author : $('#author').val(), status : $('#status').val()}),
                success: function(data, textStatus, jQxhr) {
                    alert(data);
                },
                error: function(jqXhr, textStatus, errorThrown) {
                    alert("error");
                }
            });
        }
    </script>
#end