#parse("/velocity/layout.vm")
#@mainLayout()
<h1>ISSUE</h1>
<div>
    $issueById.getName() $issueById.getAuthor() $issueById.getStatus()
</div>
    <div>
        <form action=""></form>
    </div>
#end