#* @implicitly included *#
#* @vtlvariable name="WebPath" type="com.axmor.util.Path.Web" *#
#* @vtlvariable name="msg" type="com.axmor.util.MessageBundle" *#
#* @vtlvariable name="issues" type="java.lang.Iterable<com.axmor.issue.Issue>" *#
#* @vtlvariable name="issue" type="com.axmor.issue.Issue" *#
#* @vtlvariable name="issueById" type="com.axmor.issue.Issue" *#

#* @vtlvariable name="users" type="java.lang.Iterable<com.axmor.user.User>" *#

#* @vtlvariable name="comments" type="java.lang.Iterable<com.axmor.issue.Comment>" *#
#* @vtlvariable name="comment" type="com.axmor.issue.Comment" *#

#* @vtlvariable name="currentUser" type="java.lang.String" *#
#* @vtlvariable name="loggedOut" type="java.lang.String" *#
#* @vtlvariable name="authenticationFailed" type="java.lang.String" *#

#* @vtlvariable name="authenticationSucceeded" type="java.lang.String" *#
#* @vtlvariable name="loginRedirect" type="java.lang.String" *#
