#* @implicitly included *#
#* @vtlvariable name="WebPath" type="com.axmor.util.Path.Web" *#
#* @vtlvariable name="msg" type="com.axmor.util.MessageBundle" *#
#* @vtlvariable name="issues" type="java.lang.Iterable<com.axmor.issue.Issue>" *#
#* @vtlvariable name="issue" type="com.axmor.issue.Issue" *#